*.pbi
*.cout
*.dep
*.wspos
*.wsdt
*.dni
*.dbgdt
*.crun
*.xcl
*.browse
*.pbd
SAM4S_V_ADC/compil/settings/SAM4S_V_ADC.ISRAM.cspy.bat
SAM4S_V_ADC/compil/FLASH/Exe/SAM4S_V_ADC.out
SAM4S_V_ADC/compil/FLASH/Exe/SAM4S_V_ADC.bin
*.o
SAM4S_V_ADC/compil/settings/SAM4S_V_ADC.FLASH.cspy.bat
